.container-cadastro{
    display: flex;
    width: 60%;
    background-color: white;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
  
}

.img {
    width: 100%;
}



.filtro_img_login img {
    width: 100%;
    height: 100%;
    filter: opacity(55%);
    border-radius: 10px;
}

.filtro_img_login{
    width: 100%;
    height: 450px;
    background-color: black;
}



.formulario{
    margin-left: 5%;
    background-color: white;
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-login h2{
  
    margin-bottom: 6%;
}

.inp_login_cad {
    border-bottom: 1px solid black;
    padding: 10px;
    outline: none;
}

.btn_login_cad {
    margin-right: 10%;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border-bottom: 1px solid white;
    margin-top: 9%;
    transition: 1s;
    width: 100px;
}


.btn_login_cad:hover {
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-bottom: 1px solid black;
    border-radius: 7px;
    margin-top: 9%;
    transition: 1s;
    width: 105px;
    cursor: pointer;
}